/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; text-align: center}
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }



/* Layout */

html {
  /* Customized pattern from http://lea.verou.me/css3patterns/#lined-paper */
  background-color: #000;
  background-image:
    linear-gradient(0deg, transparent 79px, #000 79px, #111 81px, transparent 81px),
    linear-gradient(#111 .05em, transparent .05em);
  background-size: 100% 1.4em;
}


#branding, #content, #footer {
  width: 80%;
  margin: 0 auto;
}



#branding {
  background-color: #304C69;
  /* space */
  padding: 0.7em 0;

  /* bottom */
  border-bottom-width: 20px;
  border-bottom-color: #1D2D3F;
  border-bottom-style: solid;
  border-bottom-left-radius: 160px 60px;
  border-bottom-right-radius: 160px 60px;

  box-shadow: 0 8px 80px #1D2D3F;
}
#branding:hover {
  background-color: #305073;
}


#content {
  max-width: 500px;
  width: 70%;
  margin: 30px auto -10px;
  padding: 0.7em 1em;
  /*background-color: #39322D;*/
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  box-shadow: 0 -4px 60px #341427;

  /* Customized pattern from http://lea.verou.me/css3patterns/#carbon-fibre */
  background:
    radial-gradient(black 10%, transparent 13%) 0 0,
    radial-gradient(black 10%, transparent 13%) 8px 8px,
    radial-gradient(rgba(255,255,255,.2) 5%, transparent 22%) 0 1px,
    radial-gradient(rgba(255,255,255,.2) 8%, transparent 15%) 8px 9px;
  background-color:#341427;
  background-size:16px 16px;
}

#content article {
  padding-bottom: 5px;
  border-bottom-width: 20px;
  border-bottom-color: rgba(19, 11, 16, 0.4);
  border-bottom-style: solid;
  border-radius: 50px;
  background-color: rgba(19, 11, 16, 0.4);
}

#content header {
  /*background-color: #111;*/
  background-color: rgba(19, 11, 16, .6);
  padding: 6px 0;
  margin: 0 auto 10px auto;
  border-radius: 100px 100px 50px 50px;
}



#footer {
  max-width: 700px;
  padding: 0.8em 0 0.7em 0;
  border-top-width: 1px;
  border-top-color: #416930;
  border-top-style: solid;

  background-color: #273F1D;

  border-radius: 5px;
  box-shadow: 0 3px 30px #253B1B;
}


.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
